@media screen and (max-width: 1024px){
    main{
        padding:0px 60px;
    }
}



@media screen and (max-width: 768px){
    main{
        padding:0px 40px;
    }

    section{
        flex-direction: column;
        gap: 20px;
    }

    section img{
        width: 100%;
    }

    section div{
        width: 100% !important;
    }

    section a{
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    }

}